h1{
    text-align: center;
}

#sketchContainer{
    border: 1px solid red;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.row{
    border: 1px solid gainsboro;
    display: flex;
}

.col{
    border: 1px solid gainsboro;
}
