h1{
    text-align: center;
}

#sketchContainer{
    border: 1px solid red;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.row{
    border: 1px solid gainsboro;
    display: flex;
}

.col{
    border: 1px solid gainsboro;
}

#symbolsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

#paint{
    height: 50px;
    width: 50px;
    background-color: black;
    border: 5px solid black;
    border-radius: 50px;
}

#reset{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50px;
}

#scaleConatiner{
    width: 150px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#scaleNumber{
    font-size: 20px;
}

#rainbow{
    height: 50px;
    width: 50px;
    border: 5px solid black;
    border-radius: 50px;
}

#raibowImg{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
}